@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center; margin-top:50px;">
    <button onclick="location.href='@Url.Action("Flights", "Home")'" style="padding: 10px 20px; font-size: 16px;">Flight</button>
    <button onclick="location.href='@Url.Action("Hotels", "Home")'" style="padding: 10px 20px; font-size: 16px;">Hotel</button>
</div>