@{
    ViewData["Title"] = "Professor Login";
}

<h2>Enter your name</h2>

<form asp-action="Index" method="post">
    <input type="text" name="professorName" />
    <input type="submit" value="Login" />
</form>
