@{
    ViewData["Title"] = "Home Page";
}

<h1>Enter your username</h1>

<form asp-action="SetUsername" method="post">
    <input type="text" name="username" />
    <button type="submit">Set Username</button>
</form>
