@model IEnumerable<Web_practic_orders.Models.Order>

@{
    ViewData["Title"] = "Order List";
}

<h1>Order List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Product.Name</td>
                <td>@order.Quantity</td>
                <td>@order.User</td>
            </tr>
        }
    </tbody>
</table>
